// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 4.8rem;

// Breakpoints
$desktop: 45rem;

// Colors
$darkPink: #ee9b9b;
$lightPink: #ffdfdf;
$backgroundColor: #a4c7ca;
$main2: desaturate(darken($backgroundColor, 5), 3);
$main3: desaturate(darken($main2, 15), 2);
$main4: darken($main3, 10);
$main5: darken($main4, 5);
$darkText: #204446;
$dark: lighten(desaturate($darkText, 10), 5);
$accentText: #d84949;
$accent: #e96060;
$nowPlayingColor: $accent;
$nowPlayingTextColor: $accentText;

// Player Colors

$playerBackgroundColor: $main2;
$playerSliderThumb: lighten($dark, 6);
$playerTrackBackground: desaturate(darken($main2, 8), 7);
$volumeSliderBackground: desaturate(darken($main2, 15), 8);
$playerTrackBackgroundFocus: desaturate(darken($main2, 10), 5);
$playerButtons: lighten($dark, 6);
$playerButtonsHover: $accent;
