@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

html {
	font-size: 55%;
}

body {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: $m-size;
	padding: 2.5em;
}

button {
	cursor: pointer;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	// text-transform: uppercase;
	padding: .6em .7em;
	margin: .2em .5em;
	font-size: .95em;
	border: none;
	background: lighten($blue, 10);
	border-radius: .25em;
	font-weight: normal;
	color: white;
}
