@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

html {
	font-size: 55%;
}

body {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: $m-size;
	padding: 2.5em;
}

input[type='text'] {
	padding: .6em .7em .7em .7em;
	margin: .2em .5em;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

button {
	cursor: pointer;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	padding: .6em .7em .7em .7em;
	margin: .2em .5em;
	font-size: 1em;
	background: #666;
	border: none;
	color: white;
	box-shadow: none;
	-webkit-appearance: none;
}
