#songs {
	margin-bottom: 2em;
	display: grid;
	.song {
		display: block;
	}
}

#create-playlist {
	h2 {
		display: inline;
		margin-right: 1rem;
	}
}

#playlist {
	margin-bottom: 1em;
}

.ui.form .fields {
	display: grid;
	grid-row-gap: 1rem;
	grid-gap: 1rem;
	grid-template-columns: 1fr 10rem;
	@media (max-width: 500px) {
		grid-template-columns: 1fr;
	}
	justify-content: center;
	max-width: 400px;
	margin: 0 auto;
}

.ui.form .fields > .field {
	flex: none;
	padding: 0;
}

.error {
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 1rem;
	color: #c43838;
}

.ui.form input[type=text] {
	&:focus {
		border-color: $darkPink;
	}
}

.ui.button {
	color: #000;
	margin: 0;
	background: $lightPink;
	// width: 100%;
	// @media (min-width: 500px) {
	// 	width: 10rem;
	// }
	&:hover {
		background: darken($lightPink, 2);
	}
}
