.song {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-grid;
	grid-template-columns: auto auto;
	justify-content: start;
	font-size: 1em;
	line-height: 2;
	font-size: 1.2em;
	border-bottom: 1px solid #fff;
	transition: .15s;
	padding: 0 1rem;
	&:last-of-type {
		border: none;
	}
	&:hover {
		cursor: pointer;
		background: $lightPink;
	}
	&.selected {
		&:hover {
			background: $lightPink;
		}
		font-weight: bold;
	}
}

#playlist {
	display: grid;
	grid-template-columns: 1fr;
	.song-name {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: middle;
		min-width: 0;
	}
	.now-playing-container {
		width: 25px;
		margin-right: 3px;
		display: inline-block;
		text-align: center;
	}
	.now-playing {
		left: -2px;
		margin-left: 0;
		padding-left: 0;
		list-style: none;
		position: relative;
		display: inline-block;
		justify-content: center;

		.item-wrapper {
			position: relative;
			height: 10px;
			bottom: 0px;
			display: inline-block;
			width: 2px;
			margin: 0 1.5px;
		}

		.item {
			position: absolute;
			top: 50%;
			bottom: 0%;
			background: $darkPink;
			left: 0;
			right: 0;
			border-radius: 6px;
			transition: all .3s ease;
		}
	}
}

#player-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
}
#player {
	margin: 0 auto;
	padding: 2em 1em 2em 1em;
	display: flex;
	max-width: 800px;
	align-items: center;
	#controls-left {
		text-align: center;
		margin-right: 5px;
		min-width: 95px;
	}
	#seek-display {
		flex-grow: 1;
		display: flex;
		#seek-wrapper {
			margin-top: -9px;
			flex-grow: 1;
			padding: 0 10px;
		}
		#time-remaining {
			margin-top: -4px;
			width: 3em;
			font-size: .8em;
			color: white;
		}
	}
	#controls-right {
		width: 3em;
		font-size: 1.1em;
		margin-top: -3px;
	}
	button {
		margin: 0 2px;
		font-size: 1.1em;
		border: none;
		background: none;
		color: $lightPink;
		&:hover {
			cursor: pointer;
		}
	}
}

#seek {
	-webkit-appearance: none;
	width: 100%;
	position: relative;
	top: 5px;
	background: none;
}
#seek:focus {
	outline: none;
}
#seek::-webkit-slider-runnable-track {
	width: 100%;
	border-radius: 4px;
	height: 20px;
	cursor: pointer;
	background: #555;
}
#seek::-webkit-slider-thumb {
	height: 20px;
	width: 10px;
	border-radius: 2px;
	background: $lightPink;
	cursor: pointer;
	-webkit-appearance: none;
}
#seek:focus::-webkit-slider-runnable-track {
	background: #dadada;
}
#seek::-moz-range-track {
	width: 100%;
	border-radius: 4px;
	height: 20px;
	cursor: pointer;
	background: $darkPink;
}
#seek::-moz-range-thumb {
	height: 20px;
	width: 10px;
	border-radius: 2px;
	background: $lightPink;
	cursor: pointer;
}
#seek::-ms-track {
	width: 100%;
	border-radius: 4px;
	height: 20px;
	cursor: pointer;
	background: transparent;
	color: transparent;
}
#seek::-ms-fill-lower {
	background: #9c9c9c;
}
#seek::-ms-fill-upper {
	background: $darkPink;
}
#seek::-ms-thumb {
	height: 20px;
	width: 10px;
	border-radius: 2px;
	background: $lightPink;
	cursor: pointer;
	height: 20px;
}
#seek:focus::-ms-fill-lower {
	background: $darkPink;
}
#seek:focus::-ms-fill-upper {
	background: #dadada;
}

@media (max-width: 500px) {
	#seek {
		position: relative;
		top: 5px;
	}
	#seek:focus {
		outline: none;
	}
	#seek::-webkit-slider-runnable-track {
		height: 20px;
	}
	#seek::-webkit-slider-thumb {
		height: 20px;
	}
	#seek::-moz-range-track {
		height: 20px;
	}
	#seek::-moz-range-thumb {
		height: 20px;
		width: 10px;
	}
	#seek::-ms-track {
		height: 20px;
		color: transparent;
	}
	#seek::-ms-thumb {
		height: 20px;
		width: 10px;
		height: 20px;
	}

	#player-wrapper {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	#player {
		padding: 2em 0;
		#controls-left {
			margin-right: 0;
			min-width: 60px;
			button {
				margin: 0;
				&.prev-song {
					display: none;
				}
			}
		}
		#seek-display {
			flex-grow: 1;
			display: flex;
			#seek-wrapper {
				margin-top: -9px;
				flex-grow: 1;
				padding: 0 10px;
			}
			#time-remaining {
				margin-top: -4px;
				width: 3em;
				font-size: .8em;
			}
		}
		button {
			margin: 0 2px;
			font-size: 1.1em;
		}
	}
}
