@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
@import './playlist';

audio {
	vertical-align: bottom;
}

.playlist {
	text-transform: uppercase;
	font-size: 1.2em;
	display: block;
	color: black;
	padding: .3rem .3rem;
	&:hover {
		background: #ffdfdf;
		color: black;
	}
}

#playlists {
	// width: 70%;
	// max-width: 700px;
}
