@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
@import './playlist';

audio {
	vertical-align: bottom;
}

.playlist {
	font-size: 1.3rem;
	display: block;
	padding: .6rem 1rem;
	display: grid;
	grid-template-columns: auto 20rem;
	justify-content: space-between;
	a {
		color: $darkText;
		&:hover {
			color: $accentText;
		}
	}
}

#playlists {
	h1 {
		margin-bottom: 0;
	}
	#content-wrapper {
		margin-top: 0;
		text-align: right;
		button.date-sort {
			margin-right: 1.2rem;
			margin-bottom: .5rem;
		}
	}
}

.sort-icon {
	position: relative;
	top: .15em;
}

.playlist-date {
	text-align: right;
}
