nav {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-items: center;
	justify-content: center;
	text-align: center;
	background: $main4;
	#name {
		justify-self: stretch;
		font: 1rem "Neuton", serif;
		line-height: 1;
		font-weight: normal;
		background: $main5;
		a {
			color: white;
		}
		padding: 0.7rem 1rem;
	}

	#page-links {
		padding: .7rem 0;
		width: 100%;
		max-width: 14rem;
		display: inline-grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-evenly;
		font-size: .9rem;
		line-height: 1.07rem;
	}

	a {
		border-radius: 2px;
		background: none;
		color: white;
		text-align: center;
		transition: .15s;
		&:hover {
			color: black;
		}
	}

	a.active {
		border-radius: 0;
		background: none;
		&:hover {
			color: $darkText;
		}
	}
}
