@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
@import './playlist';

.song {
	font-size: 1em;
	.now-playing {
		display: inline-block;
		width: 1.5em;
		color: $blue;
		text-align: left;
	}
}

audio {
	vertical-align: bottom;
}
